<%= render 'navbar' %>

<div id="login-container">
	<h1>Log In</h1>

	<%= form_with url: '/login', local: true do |form| %>

		<% if @failed %>
			<h2>Error: </h2>
			<p> Incorrect username or password</p>
		<% end %>

		<p>
			<%= form.label :username %>
			<%= form.text_field :username %><br>
		</p>

		<p>
			<%= form.label :password %>
			<%= form.password_field :password %><br>
		</p>

		<%= form.submit "Log In", class: 'form-submit'%>

	<% end %>

	<br>
	<%= link_to 'Back', '/welcome', class: 'back-btn'%>
</div>
