<h1>Pig Latin Translator</h1>

<%= form_with model: @translation, local: true do |form| %>

	<p>
		<%= form.label :text %><br>
		<%= form.text_field :text, value: @text %><br>
		<%= form.submit "Translate!" %>
	</p>

<% end %>

<%= link_to 'Back', '/welcome' %>