<%= render '/sessions/navbar' %>

<h1>Query History</h1>

<br>

<% if current_user.queries.length == 0 %>
	No queries to show.<br>
<% else %>
	<% current_user.queries.each do |query| %>
		<div class="query-container">
			<%= render query %>
			<br>
			<div class="option-container">
				<%= button_to 'Process Again', user_query_path(current_user, query), method: :get, class: 'button', form_class: 'button-form' %>
				<%= button_to 'Delete Query', [query.user, query], method: :delete, data: { confirm: 'Are you sure?' }, class: 'button', form_class: 'button-form' %>
			</div>
		</div>
	<% end %>
<% end %>

<br>

<%= link_to 'Back', '/welcome', class: 'back-btn' %>