<h1>New Query</h1>

<%= form_with model: [current_user, current_user.queries.build], local: true do |form| %>

	<% if @query.errors.any? %>
		<div id="error_explanation">
			<h2>
				<%= pluralize(@query.errors.count, "error") %> prohibited this query from being processed:
			</h2>
			<ul>
				<% @query.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<p>
		<%= form.label :file %>
		<%= form.file_field :file %>
	</p>
	
	<p>
		<%= form.label :sample_field %><br>
		<%= form.text_field :sample_field %><br>
	</p>

	<p>
		<%= form.submit 'Submit' %>
	</p>

<% end %>

<%= link_to 'Back', '/welcome' %>